:root {
    --primary-color: #006994;
    --secondary-color: #2f4f2f;
    --accent1-color: #ffa500;
    --accent2-color: #d3d3d3;
}

h1, h2, h3 {
    color: var(--primary-color);
}

p {
    color: var(--secondary-color);
}


footer a img {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 100%;
    height: 400px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
}

article {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 20px;
    width: 300px;
}

article img {
    float: right;
    margin-left: 20px;
}
